{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Add Cat - Apps{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/quill/typography.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/katex.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/dropzone/dropzone.js' %}"></script>
<script src="{% static 'vendor/libs/jquery-repeater/jquery-repeater.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/app-ecommerce-product-add.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="col-12">
  <div class="card p-12">

    <div class="row gy-6">
      <div class="app-ecommerce">
        <!-- Add Product -->
        <div>
          <!-- Offcanvas Header -->
          <div class="offcanvas-header">
            <h5 id="offcanvasEcommerceCategoryListLabel" class="offcanvas-title"> Add Category</h5>
            <button type=" button" class="btn-close text-reset pt-1" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <!-- Offcanvas Body -->
          <div class="offcanvas-body border-top">
            <form class="pt-6" id="eCommerceCategoryListForm" method="POST" onsubmit="return true">
              <!-- Title -->
              {% csrf_token %}
              <div class="mb-6 form-control-validation">
                <label class="form-label" for="ecommerce-category-title">Authon Name</label>
                <input type="text" class="form-control" id="ecommerce-category-title" placeholder="Enter category title"
                  name="authorName" aria-label="category title" />
              </div>
              <!-- Birth Date -->
              <div class="col mb-6 form-control-validation"><label class="form-label" for="ecommerce-product-sku">Date
                  of
                  Birth</label>
                <input type="date" class="form-control" id="ecommerce-product-sku" placeholder="Date of Inclusion"
                  name="date_of_birth" aria-label="Product SKU" />
              </div>

              <div class="col mb-6 form-control-validation"><label class="form-label" for="ecommerce-product-sku">Date
                  of
                  Death</label>
                <input type="date" class="form-control" id="ecommerce-product-sku" placeholder="Date of Inclusion"
                  name="date_of_death" aria-label="Product SKU" />
              </div>


              <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Add Author</button>

            </form>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>


{% endblock %}
