{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Academy - Course Details - App{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-academy-details.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/app-academy-course-details.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row g-6">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-6 gap-2">
          <div class="me-1">
            <h5 class="mb-0">UI/UX Basic Fundamentals</h5>
            <p class="mb-0">Prof. <span class="fw-medium text-heading"> Devonne Wallbridge </span></p>
          </div>
          <div class="d-flex align-items-center">
            <span class="badge bg-label-danger">UI/UX</span>
            <i class="icon-base ti tabler-share icon-lg mx-4"></i>
            <i class="icon-base ti tabler-bookmarks icon-lg"></i>
          </div>
        </div>
        <div class="card academy-content shadow-none border">
          <div class="p-2">
            <div class="rounded-2 text-center mb-4">
              <a href="{% url 'app-academy-course-details' %}"><img class="img-fluid"
                  src="{% static 'img/books/image/book1.png' %}" width="400" height="400" alt="tutor image 1" /></a>
            </div>

          </div>
          <div class="card-body pt-4">
            <h5>About this course</h5>
            <p class="mb-0">Learn web design in 1 hour with 25+ simple-to-use rules and guidelines — tons of amazing web
              design resources included!</p>
            <hr class="my-6" />
            <h5>Book Information</h5>
            <div class="d-flex flex-wrap row-gap-12">
              <div class="me-12">
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-book-2 me-2 align-bottom"></i>ISBN No: 05656
                </p>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-printer me-2 align-top"></i>Publisher: Somahar
                </p>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-world me-2 align-bottom"></i>Languages:
                  Bangla</p>
              </div>
              <div>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-list-numbers me-2 align-top ms-50"></i>Call
                  No:
                  123456
                </p>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-layout me-2 align-top"></i>Catagory: Fiction
                </p>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-badge me-2 align-bottom"></i>Status: Available
                </p>

              </div>
            </div>
            <hr class="my-6" />
            <h5>Book Status</h5>
            <div class="d-flex flex-wrap row-gap-12">
              <div class="me-12">
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-box-multiple me-2 align-bottom"></i>No of
                  Volume: 2
                </p>
                <p class="text-nowrap mb-2"><i class="icon-base ti tabler-notes me-2 align-top"></i>No of Pages:
                </p>
              </div>
              <div>
                <p class="text-nowrap mb-2"><i
                    class="icon-base ti tabler-building-community me-2 align-top ms-50"></i>Library:
                  Central Library
                </p>
                <p class="text-nowrap mb-0"><i class="icon-base ti tabler-books me-2 align-top"></i>Shelf: A-1</p>
                </p>

              </div>
            </div>
            <hr class="my-6" />



            <h5>Description</h5>
            <p class="mb-6">The material of this course is also covered in my other course about web design and
              development with HTML5 & CSS3. Scroll to the bottom of this page to check out that course, too! If you're
              already taking my other course, you already have all it takes to start designing beautiful websites today!
            </p>
            <p class="mb-6">"Best web design course: If you're interested in web design, but want more than just a "how
              to use WordPress" course,I highly recommend this one." — Florian Giusti</p>
            <p>"Very helpful to us left-brained people: I am familiar with HTML, CSS, JQuery, and Twitter Bootstrap, but
              I needed instruction in web design. This course gave me practical, impactful techniques for making
              websites more beautiful and engaging." — Susan Darlene Cain</p>
            <hr class="my-6" />
            <h5>Instructor</h5>
            <div class="d-flex justify-content-start align-items-center user-name ">
              <div class="avatar-wrapper">
                <div class="avatar me-4"><img src="{% static 'img/avatars/11.png' %}" alt="Avatar"
                    class="rounded-circle" /></div>
              </div>
              <div class="d-flex flex-column">
                <h6 class="mb-1">Librarian Name</h6>
                <small>Librarian Designation</small>
              </div>

            </div>
            <div class="card-body  invoice-preview-header rounded mt-12" style="background-color: #f8f9fa;">
              <div
                class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column align-items-xl-center align-items-md-start align-items-sm-center align-items-start">
                <div class="mb-xl-0 mb-6 text-heading">

                  <p class="mb-2">Sl No: 45341</p>
                  <p class="mb-2">Book Name: The Great Gatsby</p>
                  <p class="mb-0">Death Date: 12 Aug, 1255</p>
                </div>
                <div>
                  <h5 class="mb-2">Book QR</h5>
                  <div style="margin-left:-25px"><img width="150" height="150"
                      src="{% static 'img/books/qr/qr1.png' %}" /></div>

                  <button type="button" class="btn rounded-pill btn-primary"><span
                      class="icon-xs icon-base ti tabler-printer me-2"></span>Print QR</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="accordion stick-top accordion-custom-button" id="courseContent">
      <div class="accordion-item active mb-0">
        <div class="accordion-header" id="headingOne">
          <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#chapterOne"
            aria-expanded="true" aria-controls="chapterOne">
            <span class="d-flex flex-column">
              <span class="h5 mb-0">SideBar</span>

            </span>
          </button>
        </div>
      </div>



    </div>
  </div>
</div>
{% endblock %}
